* {
    margin: 0;
    padding: 0;
}
:root {
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan:hsl(179, 100%, 13%);
    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    /* font */
    --font-family-400: 'Lexend Deca', sans-serif;
    --font-family-700: 'Big Shoulders Display', sans-serif;
    /* --font-size-body-copy: 0.6rem; */
}
img {
    display: block;
    /* width: 50%;
    height: 50%; */
    /* width: 3rem;
    height: 3rem; */
}
body {
    background-color: var(--very-light-gray);
    max-width: 90rem;
    width: 100%;
}

main {
    border: 1px solid black;
    width: 100%;
    max-width: 60rem;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
}
main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main div > * {
    margin: 2rem;
}
.sedans{
    background-color: var(--bright-orange);
}
.suvs{
    background-color: var(--dark-cyan);
}
.luxury{
    background-color: var(--very-dark-cyan);
}

div h2 {
    color: var(--very-light-gray);
    font-family: var(--font-family-700);
    font-weight: 700;
    font-size: 36px;
}
div p {
    color: var(--transparent-white);
    font-size: var(--font-size-body-copy);
    /* font-size: 15px; */
    font-family: var(--font-family-400);
    font-weight: 400;
    line-height: 1.25rem;
    opacity: 0.75;
    letter-spacing: 0.005;
    /* letter-spacing: 0.025rem; */
}









/* body {
    background-image: url(../design/3-column_preview_card_component/desktop-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
} */
/* 
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50rem; 
    max-width: 1440px;
    margin: auto;
}

main div {
    display: flex;
    flex-direction: column;
}
div * {
    padding-inline: 40px;
}
div button {
    margin: 20px;
}

div button.learnmore {
    background-color: var(--transparent-white);
    border: none;
    padding: 2px;
    border-radius: 20px;
    width: 130px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}
img {
    margin-top: 50px;
    margin-bottom: 30px;
}
p{
    margin-top: 30px;
    margin-bottom: 30px;
}
main {
    padding: 20px;
} */
