/* @import url('https://fonts.google.com/specimen/Poppins'); */

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);

  --accent-blue:  hsl(248, 32%, 49%);
  --natural--dark-blue:  hsl(249, 10%, 26%);
  --natural-grayish-blue: hsl(246, 25%, 77%);
  --bg-white: hsl(0, 100%, 100%);

  --fw-400: font-weight: 400;
  --fw-500: font-weight: 500;
  --fw-600: font-weight: 600;
  --fw-700: font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  background-position: center;
  font-size: 1rem;
}
main {
  width: 79vw;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 4rem auto;
  gap: 2rem;
  color: var(--bg-white);
}
h1 {
  line-height: 2.25rem;
}

.content {
  margin-top: 2rem;
  width: 93%;
  margin: auto;
}
.right {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.right .billborad {
  background-color:  var(--accent-blue);
  border-radius: 0.5rem;

}
.right .billborad  p {
  padding: 1.5rem 3rem;
  text-align: center;
}
.right .billborad  p span {
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.333rem;
  padding: 1.25rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-white);
}

input {
  padding: 1rem;
}
button {
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--primary-green);
  border: none;
  border-radius: 0.5rem;
  color: #fff;

}
form p {
  font-size: 0.75rem;
  text-align: center;
  color: var(--natural-grayish-blue);
}

form p .note {
  color: var(--primary-red);
}

@media screen and (max-width: 375px) {
  main {
    width: 89vw;
    flex-direction: column;
    text-align: center;
  }
  
}

