@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);

  --accent-blue:  hsl(248, 32%, 49%);
  --natural--dark-blue:  hsl(249, 10%, 26%);
  --natural-grayish-blue: hsl(246, 25%, 77%);
  --bg-white: hsl(0, 100%, 100%);

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--bg-white);
  font-family: "Poppins", sans-serif;
  background-image: url("images/bg-intro-desktop.png");
  background-color: var( --primary-red);
  width: 100vw;
  height: 100vh;
  font-style: normal;
  color: var(--bg-white);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 78.5%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
h1 {
  font-size: 3rem;
  font-weight: var(--fw-700);
  line-height: 1.2;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.billboard {
  color: var(--natural-grayish-blue);
  background-color: var(--accent-blue);
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
}
.billboard span {
  color: var(--bg-white);
  font-weight: var(--fw-700);
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #fff;
  gap: 1rem;
  border-radius: 0.25rem;
}
form > div {
  display: flex;
  flex-direction: column;
}

input {
  padding: 1rem 1.5rem;
  font-weight: var(--fw-600);
  border: none;
  outline: 1px solid var(--accent-blue);
  border-radius: 0.25rem;
}
input::after {
  content: '!';
  background-color: red;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="button"] {
  background-color: var(--primary-green);
  color: var(--bg-white);
}
input.invalid {
  color: var(--primary-red);
  outline: 1px solid var(--primary-red);
  position: relative;
}

input.invalid::placeholder {
  background-color: var(--primary-red);
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  align-items: end;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 1.5rem;
}


.errors {
  color: red;
  font-size: 0.75rem;
  text-align: end;
}

form p {
  font-size: 0.75rem;
  color: var(--natural-grayish-blue);
  text-align: center;
}
form p .note {
  color: var(--primary-red);
  font-weight: var(--fw-600);
}