* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "outfit", sans-serif;
    font-size: 62.5%;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* card */
main {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    background-color: hsl(0, 0%, 100%);
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 1.25rem;
}
main * {
    margin-inline: 1rem;
}
img {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 0.75rem; 
    margin-bottom: 1rem;
}
h1{
    font-weight: 700;
    font-size: 1.375rem;
    padding-block: 0.5rem;
    color: hsl(218, 44%, 22%);
}
main p {
    font-weight: 400;
    font-size: 0.9375rem;
    color: hsl(220, 15%, 55%);
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
}

/* 375px 以下 */
@media screen and (max-width: 376px) {
    /* h1 {
        margin: 1.75rem;
    }
    main p {
        margin: 1.75rem;
    } */
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}